<!DOCTYPE>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey, let's talk </title>
    <link rel="stylesheet" href="/static/styles.css"
  </head>
  <body>
    <div class="Title">
    <h1>Hey, let's talk</h1>
    </div>
    <div class="button">
    <button onclick="location.href='{% url 'script2' %}'"> Record </button>
    <button onclick="location.href='{% url 'script' %}'"> Show Results </button>
    </div>
    <br><br>
    <img src="static/Word_Analysis.png"/>
    <img src="static/Tone_Analysis.png"/> <br><br>

    <img src="static/meme.jpg" class="center"> <br><br>
  </body>
</html>
